





<form hx-put="/contact/1/" hx-target="this" hx-swap="outerHTML">
 
    <div class="bg-white shadow overflow-hidden sm:rounded-lg">
        <div class="px-4 py-5 sm:px-6">
          <h3 class="text-lg leading-6 font-medium text-gray-900">
           Click To Edit Person
          </h3>
          <p class="mt-1 max-w-2xl text-sm text-gray-500">
              
            <a class="font-medium text-indigo-600 hover:text-indigo-500" href="https://htmx.org/examples/click-to-edit/">HTMX example here</a>
        </p>
          
        </div>
        <div class="border-t border-gray-200">
          <dl>
            {% for field in form %}
            <div class="bg-gray-50 px-4 py-5 sm:grid sm:grid-cols-3 sm:gap-4 sm:px-6">
                <dt class="text-sm font-medium text-gray-500 ">
                    {{ field.label_tag }} 
                </dt>
                <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 ">
                    {{ field }}
                </dd>
              </div>
           
               
              
         
        {% endfor %}
            
          
        
          
           
          </dl>
        </div>
      </div>
    
    

    <button  class="btn ml-2 inline-flex mt-10 items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50  ">
        Submit
      </button>
      <button hx-get="/contact/1/" type="button" class="ml-2 inline-flex mt-10 items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
        Cancel
      </button>
  </form>  
